# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

.idea/
web/.idea
server/.idea
admin/.idea

.vscode/
web/.vscode
server/.vscode
admin/.vscode

web/node_modules
server/scripts/data/
server/static/images/
admin/node_modules

*.log*

web/.next

.cache
.output

web/dist
admin/dist
*_test.go

*/.DS_Store
.DS_Store