@import url("https://cdn.jsdelivr.net/npm/cn-fontsource-lxgw-wen-kai-gb-screen/font.css");

body {
  font-family: "LXGW WenKai GB Screen", sans-serif;
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  border-style: dashed;
  border-color: hsl(var(--border) / 0.7);
}
